<div class="product">
  <div class="" style="display: flex;justify-content: space-between; margin: 1%">
    <div style="display: flex; width: 36%;">
      <label for="filter" style="min-width: 189px;margin-top: 2%;">Tìm kiếm nhanh tên phụ tùng: </label>
      <input   style="    margin: 0 1% 0 1%;"name="form-control" class="form-control" type="text" [(ngModel)]="filterBySub" (keyup)="filter()" placeholder="Nhập tên phụ tùng">
        <button class="btn btn-primary" style="margin-left: 1%">
          <i class="fas fa-search"></i>
        </button>
    </div>
  </div>
    
  <table class="table">
      <thead>
        <tr style="text-align: center;">
          <th scope="col">STT</th>
          <th scope="col">Tên phụ tùng</th>
          <th scope="col" style="width:10%">Hình phụ tùng</th>
          <th scope="col">Tổng tiền nhập kho</th>
          <th scope="col">Tổng tiền xuất kho</th>
          <th scope="col">Lợi nhuận</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of getProductData;let i= index;" style="text-align: center;">
              <td>{{i+1}}</td>
              <td>{{row.name_products}}</td>
              <td><img src="{{row.image_product_src}}" alt="{{row.image_product_src}}.jpg" width="100%"/></td>
              <td>{{import}} VNĐ</td>
              <td>{{export}} VNĐ</td>
              <td>{{exits}} VNĐ</td>
          </tr>
      </tbody>
    </table>
  </div>