<div class="modal-dialog"> 
    <div class="modal-content"style="    border: none;"> 
      <div class="modal-header" style="    border: none; justify-content: center;">
        <h3 class="modal-title" style="color: steelblue;
        font-size: xx-large;
        font-weight: 600;" >{{title}}</h3>
      </div>
        <div [formGroup]="formAdmin" style="text-align: center;">
            <div class="mb-3 flex" aria-disabled="true" style="display: none;">
                <input type="text" formControlName="phone_number" class="form-control" >
            </div>
            <div class="mb-3 flex" aria-disabled="true" style="display: none;">
                <input type="text" formControlName="phone_number" class="form-control" >
            </div>
            <div class="mb-3 flex">
                <label  class="form-label">Mời nhập mật khẩu hiện tại:</label>
                <input type="text" formControlName="password_old" class="form-control" >
            </div>
            <div class="mb-3 flex">
                <label  class="form-label">Mời nhập mật khẩu mới:</label>
                <input type="text" formControlName="password_new" class="form-control" >
            </div>
             
        </div>
      <div mat-dialog-actions style="display: flex; justify-content: center;">
        <button type="button" style="" (click)="updateAdmin()"  class="btn btn-primary">Cập nhật</button>
      <div mat-dialog-actions>
    </div>
</div>